html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #555
}

  #test {
    max-width: 400px;
    margin: auto;
    background-color: #f5f5f5
  }
.history {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}
  .history-row {
    padding: 5px
  }
  .history-row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
  }
  .history-question {
    float: left;
    border-radius: 10px;
    padding: 10px;
    color: #333;
    max-width: 80%;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 30px;
    position:relative;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2)
  }
  .history-answer {
    float: right;
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    margin-top: 30px;
    position: relative;
    max-width: 80%;
    box-sizing: border-box;
    min-width: 50px;
    min-height: 35px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2)
  }
  .history-answer:before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color:#eaeaea;
    display: block;
    position: absolute;
    left: -15px;
    top: 10px
  }

   .history-question:before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color:#fff;
    display: block;
    position: absolute;
    right: -15px;
    top: 10px
  }

  .qa-question-block {
    background-color: #e5e5e5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #000
  }
  .qa-info-block {
    background-color: #e5e5e5;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #000
  }
  .qa-input-block {
    background-color: #f5f5f5;
    box-sizing: border-box;
    display: table;
    width: 100%
  }
  .btn-holder {
    display: table-cell;
    width: 40px;
    height: 40px;
    padding: 5px 4px;
    box-sizing: border-box;
  }
  .qa-input-block .btn-undo,
  .qa-input-block .btn-send {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
  }

  .qa-input-block .btn-undo {
    background-image: url(./icon-undo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
  }
  .qa-input-block .btn-send {
    background-color: #0048cc;
    color: #fff;
    font-size: 18px;
    width: auto
  }
  .btn-send-holder {
    background-color: #0048cc;
    padding: 0 10px;
    width: 52px
  }
  .qa-input-text,
  .qa-input-select {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    display: table-cell;
  }
