<div id="History" class="history" >

</div>
<div class="qa-block">
  <div class="qa-question-block" id="Question"> Question</div>
  <div class="input-group qa-input-block">
    <div class="btn-holder">
      <button id="Back" class="btn-undo">Back</button>
    </div>
    <select id="InputOptions" class="qa-input-select"></select>
    <input id="InputBox" type="text" class="qa-input-text">
    <div class="btn-holder btn-send-holder"><button id="Next" class="btn-send">Next</button></div>
  </div>
  <!-- <div >
    <select id="InputOptions" > </select>
    <input id="InputBox" type="text">
   </div> <br>
  <button id="Back"> Back </button> <button id="Next"> Next </button> -->
</div>
<div id="Info" class="qa-info-block"> </div>
